Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

In [16]:
lst = [34, 54, 67, 89, 11, 43, 94]
temp_lst =lst.pop(4)
del lst[4]
lst.insert(2,temp_lst)
lst.append(temp_lst)

In [17]:
lst

[34, 54, 11, 67, 89, 94, 11]

Exercise Question 2: Given a Python list you should be able to display Python list in the following order
The Original List is: [100, 200, 300, 400, 500]
The Expected result is:  [500, 400, 300, 200, 100]

In [21]:
lst1=[100, 200, 300, 400, 500]
lst1.reverse()
lst1

[500, 400, 300, 200, 100]

In [22]:
lst2=[100, 200, 300, 400, 500]
lst2.sort(reverse=True)
lst2

[500, 400, 300, 200, 100]

Exercise Question 3: Concatenate (join) two lists in the following order
The original list1: ['Hello ', 'take ']
The original list2: ['Dear', 'Sir']
The Expected result is: ['Hello ', 'take ', 'Dear', 'Sir']

In [27]:
list1 = ['Hello ', 'take '] 
list2 =  ['Dear', 'Sir'] 

list1.extend(list2)

print(list1)

['Hello ', 'take ', 'Dear', 'Sir']

Exercise Question 4: Add item 7000 after 6000 in the following Python List
The original list is: [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
The expected list is: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [38]:
lst= [10, 20, [300, 400, [5000, 6000], 500], 30, 40] 
lst[2][2].append(7000)
lst

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Exercise Question 5: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the
The original List is: ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
The expected result is: ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [47]:
lst = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
ext=("h","i","j")
lst[2][1][2].extend(ext)
lst

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

In [51]:
lst = [5, 10, 15, 20, 25, 50, 20]
lst.insert(lst.index(20),200)
lst

[5, 10, 15, 200, 20, 25, 50, 20]