In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep = "\t")

In [3]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [15]:
print(df.count(axis=0))

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

## What is the number of columns in the dataset

In [16]:
print("\nNumber of columns:")
print(len(df.columns))

Number of columns:
5

## Print the name of all the columns

In [19]:
print("Name of columns:")
print((df.columns))

Name of columns:
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## How is the dataset indexed

In [22]:
df.index

RangeIndex(start=0, stop=4622, step=1)

 ## Which was the most ordered item?

In [15]:
df['item_name'].value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

## How many items were ordered?

In [16]:
df.groupby('item_name').sum()['quantity'].max()

761

## What was the most ordered item in the choice_description column?

In [27]:
df['choice_description'].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

## How many items were orderd in total?

In [17]:
df['quantity'].sum()

4972

## Turn the item price into a float

In [33]:
df['item_price'] = df['item_price'].apply(lambda x : x.replace('$', '')).astype('float')
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

## How much was the revenue for the period in the dataset?

In [36]:
df['item_price'] * df['quantity'].sum()

0       11883.08
1       16855.08
2       16855.08
3       11883.08
4       84424.56
          ...
4617    58421.00
4618    58421.00
4619    55935.00
4620    43505.00
4621    43505.00
Name: item_price, Length: 4622, dtype: float64

In [40]:
#df["Total Price"] =df['item_price'] * df['quantity']
#df["Total Price"].sum()
(df['item_price'] * df['quantity']).sum()

39237.02

### How many orders were made in the period

In [51]:
df['order_id'].max()

1834

## What is the average amount per order?

In [5]:
#df.groupby('order_id').mean()['Total Price']

df.groupby(by=['order_id']).sum().mean()

quantity    2.711014
dtype: float64

In [66]:
df['item_name'].nunique()

50