### Exercise 1: Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels

In [9]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

 ### Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15

In [7]:
print("Number of attempts in the examination is less than 2 and score greater than 15 :")
df[(df['attempts'] < 2) & (df['score'] > 15)]

Number of attempts in the examination is less than 2 and score greater than 15 :

    name  score  attempts qualify
j  Jonas   19.0         1     yes

### Exerise 3: Change the value in row 'd' to 11.5

In [10]:
print("Original data frame:\n", df)
df.loc['d', 'score'] = 11.5
print("\nChange the score in row 'd' to 11.5:\n", df)

Original data frame:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

### Write a Pandas program to calculate the sum of the examination attempts by the students. (Question continuation of data from question 2)

In [13]:
print("The sum of the examination attempts by the students :", df['attempts'].sum())

The sum of the examination attempts by the students : 19

### Drop a list of rows from a specified DataFrame

In [14]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(d)
print("Original DataFrame :\n", df)
print("New DataFrame after removing 2nd & 4th rows:")
df = df.drop(df.index[[2,4]],)
df

Original DataFrame :
    col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:

   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

### Write a function that checks whether a given column is present in a DataFrame or not

In [4]:
import pandas as pd 
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(d)
if 'col1' in df.columns : 
  print('col1 column is present') 
     
else: 
  print('col1 column is not present')
if 'col4' in df.columns : 
  print('col4 column is present') 
     
else: 
  print('col4 column is not present')

col1 column is present
col4 column is not present

## Write a function that returns the column index number from column name of a given DataFrame

In [14]:
pd.Index.get_loc(df,'col2')

AttributeError: 'DataFrame' object has no attribute '_engine'