Predict The Book Price Hackathon
“The so-called paradoxes of an author, to which a reader takes exception, often exist not in the author’s book at all, but rather in the reader’s head.” – Friedrich Nietzsche

Books are open doors to the unimagined worlds which is unique to every person. It is more than just a hobby for many. There are many among us who prefer to spend more time with books than anything else.

Here we explore a big database of books. Books of different genres, from thousands of authors. In this challenge, participants are required to use the dataset to build a Machine Learning model to predict the price of books based on a given set of features.

Size of training set: 6237 records Size of test set: 1560 records

FEATURES:

Title: The title of the book
Author: The author(s) of the book.
Edition: The edition of the book eg (Paperback,– Import, 26 Apr 2018)
Reviews: The customer reviews about the book
Ratings: The customer ratings of the book
Synopsis: The synopsis of the book
Genre: The genre the book belongs to
BookCategory: The department the book is usually available at.
Price: The price of the book (Target variable)

In [59]:
#importing required modules
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

## 1. Exploring The Data Sets

In [2]:
train = pd.read_excel("Data_Train.xlsx")

In [3]:
test = pd.read_excel("Data_Test.xlsx")

Understanding the features and their characterstics.

In [4]:
train.head(30)

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,299.00
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62
5,ChiRunning: A Revolutionary Approach to Effort...,Danny Dreyer,"Paperback,– 5 May 2009",4.5 out of 5 stars,8 customer reviews,The revised edition of the bestselling ChiRunn...,Healthy Living & Wellness (Books),Sports,900.00
6,Death on the Nile (Poirot),Agatha Christie,"Paperback,– 5 Oct 2017",4.4 out of 5 stars,72 customer reviews,Agatha Christie’s most exotic murder mystery\n...,"Crime, Thriller & Mystery (Books)","Crime, Thriller & Mystery",224.00
7,Yoga Your Home Practice Companion: A Complete ...,Sivananda Yoga Vedanta Centre,"Hardcover,– Import, 1 Mar 2018",4.7 out of 5 stars,16 customer reviews,"Achieve a healthy body, mental alertness, and ...",Sports Training & Coaching (Books),Sports,836.00
8,Karmayogi: A Biography of E. Sreedharan,M S Ashokan,"Paperback,– 15 Dec 2015",4.2 out of 5 stars,111 customer reviews,Karmayogi is the dramatic and inspiring story ...,Biographies & Autobiographies (Books),"Biographies, Diaries & True Accounts",130.00
9,"The Iron King (The Accursed Kings, Book 1)",Maurice Druon,"Paperback,– 26 Mar 2013",4.0 out of 5 stars,1 customer review,‘This is the original game of thrones’ George ...,Action & Adventure (Books),Action & Adventure,695.00
10,Battle for Sanskrit: Is Sanskrit Political or ...,Rajiv Malhotra,"Paperback,– 20 Jan 2017",4.9 out of 5 stars,132 customer reviews,There is a new awakening in India that is chal...,Asian History,"Language, Linguistics & Writing",373.00
11,Blockchain Revolution: How the Technology Behi...,"Don Tapscott, Alex Tapscott","Paperback,– Import, 14 Jun 2018",3.5 out of 5 stars,17 customer reviews,THE DEFINITIVE BOOK ON HOW THE TECHNOLOGY BEHI...,Banks & Banking,"Computing, Internet & Digital Media",309.00
12,Tai-Pan: The Second Novel of the Asian Saga,James Clavell,"Paperback,– 1 Jul 1999",4.1 out of 5 stars,4 customer reviews,Set in the turbulent days of the founding of H...,Action & Adventure (Books),Action & Adventure,379.00
13,The Art of Shaolin Kung Fu: The Secrets of Kun...,Wong Kiew Kit,"Paperback,– 15 Nov 2002",5.0 out of 5 stars,3 customer reviews,The Art of Shaolin Kung Fu is the ultimate gui...,Asian History,Sports,1066.00
14,Anil's Ghost,Michael Ondaatje,"Paperback,– 1 Sep 2011",3.8 out of 5 stars,5 customer reviews,"Anil's Ghost transports us to Sri Lanka, a cou...",Action & Adventure (Books),Romance,381.22
15,Superman: An Origin Story (DC Comics Super Her...,Matthew K Manning,"Paperback,– 26 Feb 2015",5.0 out of 5 stars,2 customer reviews,"One day, an alien orphan crash-lands on Earth ...",Comics & Mangas (Books),Comics & Mangas,287.00
16,My First Book of London,"Charlotte Guillain, Roland Dry","Hardcover,– 8 Mar 2018",5.0 out of 5 stars,1 customer review,London is one of the most exciting cities in t...,Children's Mysteries & Curiosities (Books),"Crime, Thriller & Mystery",162.00
17,"Naruto: Itachi's Story, Vol. 1: Daylight",Takashi Yano,"Paperback,– 1 Nov 2016",4.9 out of 5 stars,23 customer reviews,"A new series of prose novels, straight from th...",Mangas,Comics & Mangas,587.00
18,The Story of Philosophy,Will Durant,"Mass Market Paperback,– 1 Jan 1991",4.5 out of 5 stars,76 customer reviews,A brilliant and concise account of the lives a...,Biographies & Autobiographies (Books),"Biographies, Diaries & True Accounts",291.00
19,"Introducing Data Science: Big Data, Machine Le...","Davy Cielen, Arno D.B. Meysman, Mohamed Ali","Paperback,– 2016",4.3 out of 5 stars,5 customer reviews,Introducing Data Science explains vital data s...,Artificial Intelligence,"Computing, Internet & Digital Media",352.00
20,The Travelling Cat Chronicles,Hiro Arikawa,"Hardcover,– 24 Nov 2018",4.9 out of 5 stars,10 customer reviews,A stunning hardback edition of this surprise h...,Action & Adventure (Books),Action & Adventure,339.00
21,Messi: Updated Edition (Luca Caioli),Luca Caioli,"Paperback,– Import, 4 Oct 2018",5.0 out of 5 stars,2 customer reviews,FROM THE BESTSELLING AUTHOR OF RONALDO AND NEY...,Biographies & Autobiographies (Books),Sports,309.00
22,The Dark Arena,Mario Puzo,"Paperback,– 5 Jul 2012",3.1 out of 5 stars,2 customer reviews,"MARIO PUZO'S FIRST ACCLAIMED NOVEL, BEFORE HIS...",Action & Adventure (Books),Action & Adventure,262.00
23,Sap Fico Beginner's Handbook: Step By Step Acr...,Murugesan Ramaswamy,"Paperback,– 1 Nov 2014",3.1 out of 5 stars,10 customer reviews,Step by Step Screenshots Guided Handholding Ap...,Software & Business Applications (Books),"Computing, Internet & Digital Media",607.00
24,German Grammar You Really Need To Know: Teach ...,Jenny Russ,"Paperback,– 31 Aug 2012",4.8 out of 5 stars,9 customer reviews,Comprehensive and clear explanations of key gr...,German,"Language, Linguistics & Writing",536.00
25,Stealth of Nations: The Global Rise of the Inf...,Robert Neuwirth,"Hardcover,– Deckle Edge, 18 Oct 2011",4.0 out of 5 stars,1 customer review,• Thousands of Africans head to China each yea...,International Business,Politics,621.00
26,Fixed!: Cash and Corruption in Cricket,Shantanu Guha Ray,"Paperback,– 1 Mar 2016",4.3 out of 5 stars,15 customer reviews,Who killed Hansie Cronje and Bob Woolmer? Have...,Cricket (Books),Sports,286.98
27,The Buddha Box Set,Osamu Tezuka,"Paperback,– Box set, 15 Jun 2014",4.3 out of 5 stars,34 customer reviews,The classic eight volume graphic novel series ...,Comics & Graphic Novels (Books),Comics & Mangas,3779.00
28,30 Years of WrestleMania (Wwe),Brian Shields,"Hardcover,– 15 Sep 2014",5.0 out of 5 stars,17 customer reviews,From the creators of WWE 50 and the official W...,PC & Video Games (Books),Sports,802.00
29,"Memories, Dreams, Reflections (Vintage)","C. G. Jung, Aniela Jaffe, Clara Winston, Richa...","Paperback,– 23 Apr 1989",5.0 out of 5 stars,9 customer reviews,An eye-opening biography of one of the most in...,Biographies & Autobiographies (Books),"Biographies, Diaries & True Accounts",588.26

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         6237 non-null   object
 1   Author        6237 non-null   object
 2   Edition       6237 non-null   object
 3   Reviews       6237 non-null   object
 4   Ratings       6237 non-null   object
 5   Synopsis      6237 non-null   object
 6   Genre         6237 non-null   object
 7   BookCategory  6237 non-null   object
 8   Price         6237 non-null   float64
dtypes: float64(1), object(8)
memory usage: 438.7+ KB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1560 non-null   object
 1   Author        1560 non-null   object
 2   Edition       1560 non-null   object
 3   Reviews       1560 non-null   object
 4   Ratings       1560 non-null   object
 5   Synopsis      1560 non-null   object
 6   Genre         1560 non-null   object
 7   BookCategory  1560 non-null   object
dtypes: object(8)
memory usage: 97.6+ KB

In [7]:
train.describe(include = 'all')

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
count,6237,6237,6237,6237,6237,6237,6237,6237,6237.000000
unique,5568,3679,3370,36,342,5549,345,11,NaN
top,A Game of Thrones (A Song of Ice and Fire),Agatha Christie,"Paperback,– 5 Oct 2017",5.0 out of 5 stars,1 customer review,A Tinkle Double Digest is two Tinkle Digests i...,Action & Adventure (Books),Action & Adventure,NaN
freq,4,69,48,1375,1040,8,947,818,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,560.707516
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,690.110657
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249.180000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,599.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14100.000000

In [8]:
test.describe(include = 'all')

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory
count,1560,1560,1560,1560,1560,1560,1560,1560
unique,1521,1224,1259,30,163,1519,225,11
top,The Five Greatest Warriors (Jack West Series),Agatha Christie,"Paperback,– 5 Oct 2017",5.0 out of 5 stars,1 customer review,The end is approaching ... Can Jack West unrav...,Action & Adventure (Books),Action & Adventure
freq,3,18,12,376,288,3,236,218

In [9]:
train.isnull().sum()

Title           0
Author          0
Edition         0
Reviews         0
Ratings         0
Synopsis        0
Genre           0
BookCategory    0
Price           0
dtype: int64

In [10]:
train.isnull().sum()

Title           0
Author          0
Edition         0
Reviews         0
Ratings         0
Synopsis        0
Genre           0
BookCategory    0
Price           0
dtype: int64

In [11]:
train.columns

Index(['Title', 'Author', 'Edition', 'Reviews', 'Ratings', 'Synopsis', 'Genre',
       'BookCategory', 'Price'],
      dtype='object')

In [12]:
train.nunique()

Title           5568
Author          3679
Edition         3370
Reviews           36
Ratings          342
Synopsis        5549
Genre            345
BookCategory      11
Price           1614
dtype: int64

In [13]:
#concating both train and test data to get proper results
train["source"] = "train"
test["source"] = "test"
df = pd.concat([train,test])

### Edition consist of different informations like the type of edition, published month and year. Hence spliting the features of field will be helpful

In [14]:
def edition(data):
    edition  = list(data) 
    edition_type = [i.split(",– ")[0].strip().upper() for i in edition] 
    edition_date = [i.split(",– ")[1].strip() for i in edition]  
    month_year = [i.split()[-2:] for i in edition_date]
    edition_month = [month_year[i][0].upper() if len(month_year[i]) == 2  else 'NA' for i in range(len(month_year))]
    edition_year = [int(month_year[i][1].strip()) if month_year[i][1].isdigit() else 0 for i in range(len(month_year))] 
    return ed_type, ed_month, ed_year

### In authors field, we can see that the data is separated by "," which means we have different authors for single book, hence we can find out the maximum number of authors for a single book and add it on column level

In [15]:
#A method to clean and restructure the Edition column

def split_edition(data):  
  
  edition  = list(data)
  
  ed_type = [i.split(",– ")[0].strip().upper() for i in edition]
  
  edit_date = [i.split(",– ")[1].strip() for i in edition]
  
  m_y = [i.split()[-2:] for i in edit_date]
  
  
  for i in range(len(m_y)):
    if len(m_y[i]) == 1:
      m_y[i].insert(0,'NA')
      
  # Based on the given dataset below is the list of possible values for Months
  
  months =  ['Apr','Aug','Dec','Feb', 'Jan', 'Jul','Jun','Mar','May','NA','Nov','Oct','Sep']
  
  ed_month = [m_y[i][0].upper() if m_y[i][0] in months else 'NA' for i in range(len(m_y))]
  ed_year = [int(m_y[i][1].strip()) if m_y[i][1].isdigit() else 0 for i in range(len(m_y))]
  
  return ed_type, ed_month, ed_year

In [16]:
#Identifying the maximum number of authors for a single book from the given datasets
authors_1 = list(train['Author'])
authors_2 = list(test['Author'])

authors_1.extend(authors_2)

authorslis = [i.split(",") for i in authors_1]

max = 1
for i in authorslis:
  if len(i) >= max:
    max = len(i)
print("Max. number of authors for a single boook = ",max)

for i in range(len(authorslis)):
  if len(authorslis[i]) == max:
    print(i)    
    
all_authors = [author.strip().upper() for listin in authorslis for author in listin]

Max. number of authors for a single boook =  7
7008

In [17]:
# A method to split the Author column in to 7 new columns
def split_authors(data):
  
  authors = list(data)
  
  A1 = []
  A2 = []
  A3 = []
  A4 = []
  A5 = []
  A6 = []
  A7 = []
  for i in authors:
    
    try :
      A1.append(i.split(',')[0].strip().upper())
    except :
      A1.append('NONE')
      
    try :
      A2.append(i.split(',')[1].strip().upper())
    except :
      A2.append('NONE')
        
    try :
      A3.append(i.split(',')[2].strip().upper())
    except :
      A3.append('NONE')
        
    try :
      A4.append(i.split(',')[3].strip().upper())
    except :
      A4.append('NONE')
        
    try :
      A5.append(i.split(',')[4].strip().upper())
    except :
      A5.append('NONE')
      
    try :
      A6.append(i.split(',')[5].strip().upper())
    except :
      A6.append('NONE')
     
    try :
      A7.append(i.split(',')[6].strip().upper())
    except :
      A7.append('NONE')

      
  return A1,A2,A3,A4,A5,A6,A7
  
all_authors.append('NONE')

In [18]:
#Identifying the maximum number of Genres for a single book from the given datasets

genre_1 = list(train['Genre'])
genre_2 = list(test['Genre'])

genre_1.extend(genre_2)

genre_lis = [i.split(",") for i in genre_1]


max = 1
for i in genre_lis:
  if len(i) >= max:
    max = len(i)
print("Max. number of genres for a single boook = ",max)
      
all_genres = [genre.strip().upper() for listin in genre_lis for genre in listin]

Max. number of genres for a single boook =  2

In [19]:
# A method to split the Genre column in to 7 new columns

def split_genres(data):
  
  genres = list(data)
  
  G1 = []
  G2 = []
  
  for i in genres:
    
    try :
      G1.append(i.split(',')[0].strip().upper())
      
    except :
      G1.append('NONE')
      
    try :
      G2.append(i.split(',')[1].strip().upper())
    except :
      G2.append('NONE')


      
  return G1,G2
  
all_genres.append('NONE')

In [20]:
#Identifying the maximum number of Categories for a single book from the given datasets

cat_1 = list(train['BookCategory'])
cat_2 = list(test['BookCategory'])

cat_1.extend(cat_2)

cat_lis = [i.split(",") for i in cat_1]


max = 1
for i in cat_lis:
  if len(i) >= max:
    max = len(i)
print("Max. number of Categories for a single boook = ",max)

all_categories = [cat.strip().upper() for listin in cat_lis for cat in listin]

Max. number of Categories for a single boook =  2

In [21]:
# A method to split the Category column in to 7 new columns

def split_categories(data):
  
  cat = list(data)
  
  C1 = []
  C2 = []

  for i in cat:
    
    try :
      C1.append(i.split(',')[0].strip().upper())
    except :
      C1.append('NONE')
      
    try :
      C2.append(i.split(',')[1].strip().upper())
    except :
      C2.append('NONE')


      
  return C1,C2
  
all_categories.append('NONE')

In [22]:
# A method to clean and restructure the datasets

import re

def restructure(data):
  
  #Cleaning Title Column
  titles = list(data['Title'])
  titles = [title.strip().upper() for title in titles]
  
  #Cleaning & Restructuring Author Column
  a1,a2,a3,a4,a5,a6,a7 = split_authors(data['Author']) 
  
  #Cleaning & Restructuring Edition Column
  ed_type, ed_month, ed_year = split_edition(data['Edition'])
  
  #Cleaning Ratings Column
  ratings = list(data['Reviews'])
  ratings = [float(re.sub(" out of 5 stars", "", i).strip()) for i in ratings]
  
  #Cleaning Reviews Column
  reviews = list(data['Ratings'])
  plu = ' customer reviews'
  reviews = [re.sub(" customer reviews", "", i) if plu in i else re.sub(" customer review", "", i) for i in reviews  ]
  reviews = [int(re.sub(",", "", i).strip()) for i in reviews ]
  

  #Cleaning & Restructuring Genre Column
  g1, g2 = split_genres(data['Genre'])
  
  #Cleaning & Restructuring BookCategory Column
  c1,c2 = split_categories(data['BookCategory'])    
  source = data['source']
    

  # Forming the Structured dataset
  structured_data = pd.DataFrame({'Title': titles,
                                  'Author1': a1,
                                  'Author2': a2,
                                  'Author3': a3,
                                  'Author4': a4,
                                  'Author5': a5,
                                  'Author6': a6,
                                  'Author7': a7,
                                  'Edition_Type': ed_type,
                                  'Edition_Month': ed_month,
                                  'Edition_Year': ed_year,
                                  'Ratings': ratings,
                                  'Reviews': reviews,
                                  'Genre1': g1,
                                  'Genre2': g2,
                                  'Category1': c1,
                                  'Category2': c2,
                                  
                                  
                               })
  
  return structured_data

In [23]:

train_modified = restructure(train)

Y_train = train.iloc[:, -1].values

test_modified = restructure(test)

In [24]:
df_train_number_columns = train_modified.select_dtypes(include = np.number).columns
df_test_number_columns = test_modified.select_dtypes(include = np.number).columns

In [25]:
df_train_number_columns

Index(['Edition_Year', 'Ratings', 'Reviews'], dtype='object')

In [26]:
df_train_category_columns = train_modified.select_dtypes(exclude = np.number).columns
df_test_category_columns = train_modified.select_dtypes(exclude = np.number).columns
df_train_category_columns

Index(['Title', 'Author1', 'Author2', 'Author3', 'Author4', 'Author5',
       'Author6', 'Author7', 'Edition_Type', 'Edition_Month', 'Genre1',
       'Genre2', 'Category1', 'Category2'],
      dtype='object')

In [27]:
train_NAN = train_modified.replace("NONE",np.nan)
test_NAN = test_modified.replace("NONE",np.nan)

In [32]:

train_NAN["source"] = "train"
test_NAN["source"] = "test"
train_NAN.shape

(6237, 18)

In [33]:
test_NAN.shape
df = pd.concat([train_NAN,test_NAN])
df.shape

(7797, 18)

In [34]:
#train_data_to_encode = train_NAN[df_train_category_columns].drop(columns = ["Author6","Author7"])
#test_data_to_encode = test_NAN[df_test_category_columns].drop(columns = ["Author6","Author7"])
data_to_encode = df[df_train_category_columns].drop(columns = ["Author6","Author7"])

In [35]:
#df_train_category_encoded= pd.get_dummies(train_data_to_encode)
#df_test_category_encoded= pd.get_dummies(test_data_to_encode)
#df_final_train = pd.concat([df_train_category_encoded, train_NAN[df_train_number_columns]], axis= 1)
#df_final_test = pd.concat([df_test_category_encoded, test_NAN[df_test_number_columns]], axis= 1)
df_category_encoded= pd.get_dummies(data_to_encode)
df_final = pd.concat([df_category_encoded, df[df_train_number_columns],df[["source"]]], axis= 1)
print(df_final.shape)
#print(df_final_train.shape)
#print(df_final_test.shape)

(7797, 11968)

In [36]:
train_preprocessed = df_final[df_final["source"]=="train"]
test_preprocessed = df_final[df_final["source"]=="test"]

In [37]:
train_preprocessed.shape

(6237, 11968)

In [38]:
test_preprocessed.shape

(1560, 11968)

In [39]:
del train_preprocessed["source"]
train_preprocessed

,Title_#GIRLBOSS,Title_'ONE WHO WILL':THE SEARCH FOR STEVE WAUGH,Title_'WHAT DO YOU CARE WHAT OTHER PEOPLE THINK?': FURTHER ADVENTURES OF A CURIOUS CHARACTER,Title_(ISC)2 CISSP CERTIFIED INFORMATION SYSTEMS SECURITY PROFESSIONAL OFFICIAL STUDY GUIDE (ISC OFFICIAL STUDY GUIDES),Title_.NET: INTERVIEW QUESTIONS,Title_1 PAGE AT A TIME: A DAILY CREATIVE COMPANION,"Title_1,339 QI FACTS TO MAKE YOUR JAW DROP","Title_1,500 COLOR MIXING RECIPES FOR OIL, ACRYLIC & WATERCOLOR: ACHIEVE PRECISE COLOR WHEN PAINTING LANDSCAPES, PORTRAITS, STILL LIFES, AND MORE",Title_10 JUDGEMENTS THAT CHANGED INDIA,Title_10 MINUTES A DAY PROBLEM SOLVING AGES 9-11 KEY STAGE 2 (MADE EASY WORKBOOKS),...,Category1_ROMANCE,Category1_SPORTS,Category2_DIARIES & TRUE ACCOUNTS,Category2_FILM & PHOTOGRAPHY,Category2_INTERNET & DIGITAL MEDIA,Category2_LINGUISTICS & WRITING,Category2_THRILLER & MYSTERY,Edition_Year,Ratings,Reviews
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2016,4.0,8
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,2012,3.9,14
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1982,4.8,6
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017,4.1,13
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2006,5.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6232,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2018,5.0,2
6233,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2016,3.3,9
6234,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2006,3.8,3
6235,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2015,3.5,4
6236,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2016,3.9,2

In [40]:
del test_preprocessed["source"]
test_preprocessed

,Title_#GIRLBOSS,Title_'ONE WHO WILL':THE SEARCH FOR STEVE WAUGH,Title_'WHAT DO YOU CARE WHAT OTHER PEOPLE THINK?': FURTHER ADVENTURES OF A CURIOUS CHARACTER,Title_(ISC)2 CISSP CERTIFIED INFORMATION SYSTEMS SECURITY PROFESSIONAL OFFICIAL STUDY GUIDE (ISC OFFICIAL STUDY GUIDES),Title_.NET: INTERVIEW QUESTIONS,Title_1 PAGE AT A TIME: A DAILY CREATIVE COMPANION,"Title_1,339 QI FACTS TO MAKE YOUR JAW DROP","Title_1,500 COLOR MIXING RECIPES FOR OIL, ACRYLIC & WATERCOLOR: ACHIEVE PRECISE COLOR WHEN PAINTING LANDSCAPES, PORTRAITS, STILL LIFES, AND MORE",Title_10 JUDGEMENTS THAT CHANGED INDIA,Title_10 MINUTES A DAY PROBLEM SOLVING AGES 9-11 KEY STAGE 2 (MADE EASY WORKBOOKS),...,Category1_ROMANCE,Category1_SPORTS,Category2_DIARIES & TRUE ACCOUNTS,Category2_FILM & PHOTOGRAPHY,Category2_INTERNET & DIGITAL MEDIA,Category2_LINGUISTICS & WRITING,Category2_THRILLER & MYSTERY,Edition_Year,Ratings,Reviews
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1986,4.4,960
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,2018,5.0,1
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2011,5.0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,2016,4.1,11
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,2011,4.4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,2011,5.0,4
1556,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,2013,3.6,13
1557,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2011,4.0,5
1558,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,2009,3.5,3
1559,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,2016,4.5,2

 ### Loading Preprocessed data end into an excel

In [42]:
train_X = train_preprocessed
test_X = test_preprocessed
train_Y = train.iloc[:,-2]

In [45]:
print(train_X.shape)
print(test_X.shape) 
print(train_Y.shape)

(6237, 11967)
(1560, 11967)
(6237,)

In [46]:
model = LinearRegression()

In [47]:
model.fit(train_X, train_Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [48]:
pred_train = model.predict(train_X)
pred_test = model.predict(test_X)

In [53]:
sample = pd.read_excel("Sample_Submission.xlsx")
pred_test.shape

(1560,)

In [54]:
sample["Price"] = pred_test
sample.to_excel("BookPricePrediction_Submission.xlsx", index = False)

In [64]:
print("RMSE of Train Data = ",np.sqrt(mean_squared_error(train_Y, pred_train)))

RMSE of Train Data =  60.165550116405846